@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 130 33% 95%;
    --foreground: 0 0% 12%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 12%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 12%;

    --primary: 170 72% 57%;
    --primary-foreground: 0 0% 100%;

    --secondary: 90 76% 67%;
    --secondary-foreground: 0 0% 12%;

    --muted: 130 33% 95%;
    --muted-foreground: 0 0% 44%;

    --accent-blue: 197 87% 73%;
    --accent-lavender: 258 100% 86%;

    --accent: 197 87% 73%;
    --accent-foreground: 0 0% 12%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 91%;
    --input: 0 0% 91%;
    --ring: 170 72% 57%;

    --radius: 0.5rem;

    --dark-story: 203 72% 19%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 203 72% 19%;
    --foreground: 0 0% 96%;
    --card: 203 60% 14%;
    --card-foreground: 0 0% 96%;
    --popover: 203 60% 14%;
    --popover-foreground: 0 0% 96%;
    --primary: 170 72% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 90 76% 67%;
    --secondary-foreground: 0 0% 12%;
    --muted: 203 40% 25%;
    --muted-foreground: 0 0% 70%;
    --accent: 197 87% 73%;
    --accent-foreground: 0 0% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 96%;
    --border: 203 30% 25%;
    --input: 203 30% 25%;
    --ring: 170 72% 57%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
